h1 {
  color: blueviolet;
  background: orange;
}

h2 {
  background: purple;
}

body {
   background: pink;
}

p {
  background: dodgerblue;
}

a:link {
  background-color: white;
}
  
a:visited {
  background-color: cyan;
}

a:hover {
  background-color: lightgreen;
}

a:active {
  background-color: white;
} 
