<meta charset="utf-8">

h1 {
  color: blueviolet;
  background: orange;
  text-align: center;
}

h3 {
  text-align: center;
}

h2 {
  background: purple;
}

body {
   background: pink;
}

p {
  background: dodgerblue;
}

img {
  border: 4px solid black;
}

ul li {
  background: #ccffcc;
  margin: 5px;
}

a:link {
  background-color: white;
}
  
a:visited {
  background-color: cyan;
}

a:hover {
  background-color: grey;
}

a:active {
  background-color: white;
} 
