h1 {
  color: blueviolet;
  background: orange;
}

h2 {
  background: purple;
}

body {
   background: pink;
}

p {
  background: dodgerblue;
}

img {
  border: 4px solid black;
}

ol {
  background: green;
  padding: 20px;
}

ul {
  background: brown;
  padding: 20px;
}

ol li {
  background: green;
  padding: 5px;
  margin-left: 35px;
}

ul li {
  background: brown;
  margin: 5px;
}

a:link {
  background-color: white;
}
  
a:visited {
  background-color: cyan;
}

a:hover {
  background-color: grey;
}

a:active {
  background-color: white;
} 
